<footer class="first-footer">
  <div class="top-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="netabout">
            <a href="/" class="logo">
              <img src="/images/logo-white-blue.svg" alt="netcom">
            </a>
            <p>{{config.text}}</p>
          </div>
          <div class="contactus">
            <ul>
              <li>
                <div class="info">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  <p class="in-p">{{config.dir}}</p>
                </div>
              </li>
              <li>
                <div class="info">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <p class="in-p">{{config.phone}}</p>
                </div>
              </li>
              <li>
                <div class="info">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                  <p class="in-p ti">{{config.email}}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="second-footer">
    <div class="container">
      <p>©2021 All rights reserved. </p>
      <ul class="netsocials">
        <li><a href="{{config.fb}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="{{config.tw}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="{{config.ins}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="{{config.yt}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</footer>