<div id="wrapper">
  {{> header}}
  <div class="clearfix"></div>
  <section id="home" class="parallax-searchs section welcome-area overlay">
    <div class="hero-main">
      {{#if country}}
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="banner-inner">
              <h1 class="title text-center">{{country.name}}</h1>
            </div>
          </div>
          <div class="col-12">
            <ul class="popular-searchs">
              <li>
                <a href="#" class="blue">
                  <span class="box">
                    <h2 class="text-center" style="font-size: 86px;"><sup
                        style="font-size: 35px; top: -35px">+</sup>{{country.phoneCode}}</h2>
                    <p class="text-uppercase" style="font-size: 12px;">COUNTRY CALLING CODE</p>
                  </span>
                </a>
              </li>
              <li>
                <div class="row">
                  <a href="#" class="green">
                    <span class="box">
                      <div class="text-center">
                        <h2 class="text-center" style="font-size: 45px;">{{country.iso2}}</h2>
                        <p class="text-uppercase" style="font-size: 10px;">2 DIGIT ISO</p>
                      </div>
                    </span>
                  </a>
                </div>
                <div class="row">
                  <a href="#" class="green">
                    <span class="box">
                      <h2 class="text-center" style="font-size: 45px;">{{country.iso3}}</h2>
                      <p class="text-center" style="font-size: 10px;">3 DIGIT ISO</p>
                    </span>
                  </a>
                </div>
              </li>
            </ul>
            <ul class="popular-searchs">
              <li>
                <a href="#">
                  <span class="box">
                    <h2 class="text-center" style="font-size: 30px;">{{country.isoNumeric}}</h2>
                    <div style="position:relative; top:2px;">
                      <p class="text-center" style="font-size: 12px;">ISO NUMERIC</p>
                    </div>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <h2 class="text-center" style="font-size: 20px;">{{country.capital}}</h2>
                    <div style="position:relative; top:10px;">
                      <p class="text-center" style="font-size: 12px;">CAPITAL</p>
                    </div>
                  </span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="box">
                    <h2 class="text-center" style="font-size: 20px;">{{country.currency}}</h2>
                    <div style="position:relative; top:10px;">
                      <p class="text-center" style="font-size: 12px;">CURRENCY</p>
                    </div>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </section>

  <div class="container mt-4 mb-4 mx-4">
    <section class="how-it-works bg-white">
      <div class="container">
        <div class="row service-1">
          <article class="col-lg-6 col-md-6 col-xs-12">
            <div class="serv-flex">
              <div class="art-1 img-13">
                <h3>Local Time</h3>
              </div>
              <div class="service-text-p">
                <h4 class="text-center" id="local-time"></h4>
              </div>
            </div>
          </article>
          <article class="col-lg-6 col-md-6 col-xs-12">
            <div class="serv-flex">
              <div class="art-1 img-14">
                <h3>Local Weather</h3>
              </div>
              <div class="service-text-p">
                <div class="col">
                  <h4 class="text-center" id="local-weather"></h4>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="how-it-works bg-white">
      <div class="container">
        <div class="row service-1">
          <article class="col-lg-12 col-md-12 col-xs-12 mb-0 pt">
            <div class="serv-flex arrow">
              <div class="art-1 img-15">
                <h3>Description</h3>
              </div>
              <div class="service-text-p">
                <p style="text-align:left">{{country.about}}</p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>

  {{> footer_public}}

  <a data-scroll href="#wrapper" class="go-up"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>



  <!-- START PRELOADER -->
  <div id="preloader">
    <div id="status">
      <div class="status-mes"></div>
    </div>
  </div>
  <!-- END PRELOADER -->